#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
}

.panel {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: #e0e0e0;
}